/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #484848; /* Invertido */
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

/* Estilos para los botones */
.button-left,
.button-right {
    padding: 30px 60px; /* Ajusta el padding para agrandar los botones al triple de su tamaño */
    font-size: 24px; /* Ajusta el tamaño del texto */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave de los estilos al hacer hover */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
    position: fixed; /* Fijar posición */
    margin-top: 1cm; /* Espacio desde el borde superior */
}

/* Estilos para el botón izquierdo */
.button-left {
    left: 1cm; /* Fijar el botón a 1cm desde el borde izquierdo */
    background-color: #00a135; /* 25% saturado */
    color: #fff; /* Texto blanco */
}

/* Estilos para el botón derecho */
.button-right {
    right: 1cm; /* Fijar el botón a 1cm desde el borde derecho */
    background-color: #00a135; /* 25% saturado */
    color: #fff; /* Texto blanco */
}

/* Efectos al hacer hover sobre los botones */
.button-left:hover,
.button-right:hover {
    transform: translate(2px, 2px); /* Movimiento hacia la derecha y hacia abajo */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    background-color: #12a14b; /* 25% más ligero */
}

/* Estilos para el footer */
footer {
    background-color: #008000; /* Colores web: green */
    color: #fff; /* Texto blanco */
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para la imagen */
img {
    max-width: 100%; /* Ajustar al ancho máximo del contenedor */
    height: auto; /* Mantener la proporción */
    display: block; /* Mostrar como bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}

/* Efecto de movimiento continuo */
@keyframes moveImage {
    0% { transform: translateY(-6px); } /* Inicio: levitar 5px hacia arriba */
    50% { transform: translateY(6px); } /* Movimiento hacia abajo */
    100% { transform: translateY(-6px); } /* Regreso a la posición inicial */
}

/* Aplicar el efecto de movimiento */
img {
    animation: moveImage 3s infinite alternate; /* Aplicar la animación de forma continua */
}

/* Estilos para el contenedor principal */
.container {
    position: relative; /* Posición relativa para alinear los elementos internos */
    text-align: center; /* Centrar los elementos internos */
}

/* Estilos para los controles de música */
.controles {
    position: absolute; /* Posición absoluta para superponer sobre la imagen */
    bottom: 20px; /* Espacio desde la parte inferior */
    left: 0; /* Alinear a la izquierda del contenedor */
    right: 0; /* Alinear a la derecha del contenedor */
    display: flex; /* Mostrar como flexbox */
    justify-content: space-around; /* Distribuir los elementos equitativamente */
    align-items: center; /* Alinear verticalmente al centro */
}

.controles button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.controles button:hover {
    color: #007bff; /* Cambia el color al hacer hover */
}

/* Estilos para la barra de progreso */
progress {
    width: calc(100% / 3); /* Barra de progreso con un tercio del ancho de la pantalla */
    height: 10px;
    border: none;
    background-color: #484848; /* Escala de grises */
}

/* Estilos para los iconos */
.icono {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin: 0 5px;
}

#contador {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 20px;
}

#contador span {
    margin-right: 10px;
}

#contador .valor {
    font-weight: bold;
    font-size: 36px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Ancho del modal */
    max-width: 100%; /* Limitar al ancho máximo de la pantalla */
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Estilo para las imágenes dentro del modal */
.modal-content img {
    max-width: 480px;
    max-height: 480px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#nextButton {
    background-color: #3333ff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor al pasar por encima */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 5px; /* Borde redondeado */
}

#nextButton:hover {
    background-color: #2222cc; /* Color de fondo al hacer hover */
}


.texto {
    font-size: 36px; /* Tamaño de letra más grande */
    background: linear-gradient(to right, #00FF00, #008000); /* Efecto degradado de verde */
    -webkit-background-clip: text; /* Clip de fondo al texto */
    -webkit-text-fill-color: transparent; /* Color transparente para el texto */
}
